h1 {
  margin: .67em 0;
  font-size: 2em;
  font-size: 36px;
  text-align: center;
}
h2 {
text-align: left;
}

p {
  font-size: 30px;
}
ul {
  font-size: 17px;
}

#output {
  text-align: center;
  font-size: 30px;
}

.panel-body {
  width: 150px;
