h1 {
  margin: .67em 0;
  font-size: 2em;
  font-size: 36px;
  text-align: center;
}
h2 {
text-align: center;
}

p {
  font-size: 30px;
}
ul {
  font-size: 17px;
}
.column {
  float: center;
  width:33%;
}
